<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MOSAiC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/mosaic.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block extraheaders %}{% endblock %}

</head>
<body>

<div class="container">

<header class="row page-header">

    <div class="right text-right">
        {% if user.is_authenticated %}
        <p>Welcome, <a href="{% url portfolio user.username %}">{{ user.username }}</a>. <a href="{% url auth_logout %}">Logout</a></p>
        {% else %}
        <a href="{% url registration_register %}">Register</a> or  <a href="{% url auth_login %}">Log In</a> <br/>
        Log in with {% for name in social_auth.backends %}
            <a rel="nofollow" href="{% url socialauth_begin backend=name %}">{{ name|title }}</a>
        {% endfor %}
        {% endif %}
    </div>

    <a class="logo" href="{% url home %}"><h1>MOSAiC <small>My Open Source Activity Collection</small></h1></a>

</header>

{% block content %}{% endblock %}

    <footer class="row">
        <div class="span12">
            <p class="right">Powered by <a href="http://www.djangoproject.org">Django</a></p>
            <p>Created by <a href="{% url portfolio "esbena" %}">Esben Andreasen</a> and <a href="{% url portfolio "sema" %}">Casper Svenning Jensen</a></br>
            <a href="mailto:casper@svenningjensen.dk">Contact us</a>, <a href="https://github.com/sema/django-2012/issues">Issue tracker</a></p>

        </div>
    </footer>

</div>

</body>
</html>