{% extends 'mosaicportfolio/base.html' %}

{% block content %}

<section class="row">

    <div class="hero-unit">
            <h1>Need a Code Portfolio?</h1>
            <section class="row">
            <span class='span7'>
	            <h2>Stitch together a MOSAiC of your contributions to Open Source projects</h2>
	
	            <p>Use it to show your work to fellow programmers and potential employers. We help you build the portfolio and provide live statistics on your contributions to Open Source projects of your choice.</p>
	            <p>Why? <a href="http://www.codinghorror.com/blog/2004/10/a-programmers-portfolio.html">Every programmer should have a Portfolio</a> that's why.</p>
	            <br/>
	            <p><a href="{% url registration_register %}" class="btn btn-primary btn-large">Let us host your portfolio</a>  <a href="http://github.com/sema/django-2012" class="btn btn-primary btn-large">Host it yourself</a></p>
	        </span>
	        <span class='span4'><a href='{{ STATIC_URL }}img/screenshot.png' class='thumbnail'><img src="{{ STATIC_URL }}img/screenshot.png" alt='example-screenshot'/></a></span>
            </section>
    </div>

</section>

<section class="row">

    <div class="span4">
        <h3>Your Code Portfolio</h3>

        <dl class="dl-horizontal">
            <dt>You</dt>
            <dd>The communities you participate in, and the technologies you work with.</dd>

            <dt>Projects</dt>
            <dd>The projects you have contributed to and examples of your work</dd>

            <dt>Involvement</dt>
            <dd>Commits, patches, issues, wiki edits...</dd>
        </dl>
    </div>

    <div class="span4">
        <h3>Keeping it Fresh</h3>

        <p>Link projects to <strong>repositories</strong>, <strong>issue trackers</strong>, and <strong>code-hosting sites</strong> and keep your Code Portfolio fresh.</p>

        <p>We'll show your <strong>Open Source activity</strong> and let you keep it fresh with as little effort as possible.</p>
    </div>

    <div class="span"  id='we_support' >
        <h3>We Support</h3>

        <dl class="dl-horizontal">
            <dt>Code Hosting:</dt>
            <dd>
            None yet
            </dd>
			<br/>
            
            <dt>Repositories:</dt>
            <dd>
                        	<a href='http://git-scm.com/'><img class='branding-icon' src="{{ STATIC_URL }}img/git.png" alt='git'/></a> <a href='http://mercurial.selenic.com/'><img class='branding-icon' src="{{ STATIC_URL }}img/mercurial.png" alt='mercurial'/></a></dd>
            </dd>
			<br/>
            <dt>Issue trackers:</dt>
            <dd>None yet</dd>

        </dl>
    </div>

</section>

{% endblock %}