{% extends 'mosaicportfolio/base.html' %}

{% block extraheaders %}
<link href="{{ STATIC_URL }}css/midgardnotif.css" rel="stylesheet">

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.tastypie.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/hallo.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/graphing.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/app/models.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/views.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/init.js"></script>
{% endblock %}

{% block content %}

    <section class="row portfolio-toolbar">
        <div class="span6 create-toolbar-left">&nbsp;</div>
        <div class="span6 create-toolbar-right">
            <a class="btn btn-primary pull-right doEdit"><i class="icon-edit icon-white"></i> Edit</a>
            <a class="btn btn-primary pull-right doSave"><i class="icon-edit icon-white"></i> Save</a>
        </div>
    </section>

    <section class="row portfolio-profile">
        <div class="span12">
            <input type="hidden" id="user_pk" value="{{ portfolio.pk }}"/>
            <h1 class="editable portfolio-name">{% if portfolio.first_name %}{{ portfolio.first_name }} {{ portfolio.last_name }}{% else %}{{ portfolio.portfolioname }}{% endif %}</h1>
            <h2 class="editable portfolio-tagline">{{ portfolio.get_profile.tag_line }}</h2>

        </div>
        
        <div class="span12">
        <div class="row">
            <div class="span8">
                <p class="editable portfolio-about">{{ portfolio.get_profile.about }}</p>

                <div>
                    <a href="mailto:{{ portfolio.email }}" class="btn btn-primary btn-large"><i class="icon-envelope icon-white"></i> E-mail me</a>

                    {% for link in portfolio.links.all %}
                        <a href="#" class="btn btn-primary btn-large"><i class="icon-globe icon-white"></i> Linked in</a>
                    {% endfor %}
                </div>

                <div id='usergraph'/>
            </div>

            <div class="span4">
                <!--
                <div class="thumbnail">
                    <img src="http://placehold.it/260x180" alt="">
                </div>
                -->
            </div>
        </div>
        </div>
    </section>

    <section class="row">

        <div class="span8 projects">

            <a class="btn btn-primary pull-right newProject"><i class="icon-plus icon-white"></i> New Project</a>

            <h4>Open Source Projects <span class="badge project-count"></span></h4>

            <div class="project-list">
            {% for project in portfolio.projects.all %}

            <div class="row">
                <div class="span8">
                    <h2>{{ project.name }} <small>{{ project.tag_line }}</small></h2>
                    <span class="label">Python</span> <span class="label label-info">Django</span> <span class="label label-success">Web</span>
                </div>
            </div>

            <div class="row">
                <div class="span5">
                    <p>{{ project.description }}</p>

                    <a href="#">more...</a>
                </div>

                <div class="span3">
                    <div class="thumbnail">
                        <img src="http://placehold.it/260x100" alt="">
                        <h5>Activity between 2009-2012</h5>
                    </div>
                </div>
            </div>

            {% empty %}

            <div class="no-project-message">
                <h2>No projects</h2>

                {% if isowner %}
                    <p class="alert alert-info">Improve your portfolio by adding projects you have worked on.</p>
                {% endif %}
            </div>

            {% endfor %}
            </div>

            <div class="project-sample">
            <input type="hidden" class="project-id" value="" />
                <div class="row">
                    <div class="span8">
                        <h2 class="editable project-name">Project name</h2><small class="editable project-tagline">short description</small>
                    </div>
                </div>

                <div class="row">
                    <div class="span5 editable project-description">
                        <p>Insert long description here</p>
                    </div>

                    <div class="span3">

                    </div>
                </div>
            </div>

        </div>


        <div class="span4">

            <h4>Overview</h4>

            <div class="thumbnail">
                <img src="http://placehold.it/360x100" alt="">
                <h5>Activity between 2009-2012</h5>
            </div>

            <table class="table table-condensed table-striped">
                <tbody>
                <tr>
                    <td>..</td>
                    <td>..</td>
                </tr>
                <tr>
                    <td>..</td>
                    <td>..</td>
                </tr>
                </tbody>
            </table>

        </div>

    </section>

{% endblock %}

