{% extends 'mosaicportfolio/base.html' %}
{% load htmlsanitizer %}

{% block extraheaders %}
<link href="{{ STATIC_URL }}css/midgardnotif.css" rel="stylesheet">

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.tastypie.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/hallo.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/graphing.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/app/models.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/views.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/init.js"></script>
{% endblock %}

{% block content %}

    {% if isowner %}
    <section class="row portfolio-toolbar">
        <div class="span6 create-toolbar-left">&nbsp;</div>
        <div class="span6 create-toolbar-right">
            <a class="btn btn-primary pull-right doEdit"><i class="icon-edit icon-white"></i> Edit</a>
            <a class="btn btn-primary pull-right doSave"><i class="icon-edit icon-white"></i> Save</a>
        </div>
    </section>
    {% endif %}

    <section class="row portfolio-profile">

        <div class="span12">
            <input type="hidden" id="user_pk" value="{{ portfolio.pk }}"/>
        	<h1 class="editable portfolio-name">{% if portfolio.first_name %}{{ portfolio.first_name|sanitize_html }}{% else %}{{ portfolio.username }}{% endif %}</h1>
        	<h3 class="editable portfolio-tagline">{{ portfolio.get_profile.tag_line|sanitize_html }}</h3>
        </div>

        </div>

        <div class="span12">
        <div class="row">
            <div class="span6">
                <p class="editable portfolio-about">{{ portfolio.get_profile.about|sanitize_html }}</p>

                <div>
                    <!--<a href="mailto:{{ portfolio.email }}" class="btn btn-primary btn-large"><i class="icon-envelope icon-white"></i> E-mail me</a>-->

                    {% for link in portfolio.links.all %}
                        <a href="#" class="btn btn-primary btn-large"><i class="icon-globe icon-white"></i> Linked in</a>
                    {% endfor %}
                </div>

            </div>
	        <span class="span5">
	            <h4>Overview</h4>
	            <div class="thumbnail" id="usergraph">
    	    </span>
        </div>
        </div>
    </section>
	<div>
		<br/>
	</div>
    <section class="row">

        <div class="span12 projects">

            <a class="btn btn-primary pull-right newProject"><i class="icon-plus icon-white"></i> New Project</a>

            <h4>Open Source Projects <span class="badge project-count"></span></h4>

            <div class="project-list">
            {% for project in portfolio.projects.all %}

            <div class="project">
                <input type="hidden" class="project-id" value="{{ project.pk }}" />
                <div class="row">
                    <div class="span12">
                        <h2 style="display: inline;" class="editable project-name">{{ project.name|sanitize_html }}</h2> <h2 style="display: inline;"><small class="editable project-tagline">{{ project.tag_line|sanitize_html }}</small></h2>
                        <!--<span class="label">Python</span> <span class="label label-info">Django</span> <span class="label label-success">Web</span>-->
                    </div>
                </div>

                <div class="row">
                    <div class="span9">
                        <div class="editable project-description">
                            <p>{{ project.description|sanitize_html }}</p>
                        </div>
                        {% for repository in project.projectrepository_set.all %}
                            <div class="repository">
                            <form class="form-inline" class="row">
                                <input type="hidden" class="repository-id" value="{{ repository.pk }}" />
								
                                <select class="repository-type span1">
                                    <option {% ifequal repository.repository.concrete_type 'git' %}selected{% endifequal %} value="git">git</option>
                                    <option {% ifequal repository.repository.concrete_type 'hg' %}selected{% endifequal %} value="hg">hg</option>
                                </select>
                                <input class="repository-url span3 input-small" type="text" value="{{ repository.repository.url }}" />
                                <input class="repository-login span3 input-small" type="text" value="{{ repository.login }}" />
								<span class='span2 right repository-activity-count'><span class='repository-activity-count-badge badge'><span class='login'>{{ repository.login_activity_count }}</span> / <span class='total'>{{ repository.activity_count }}</span> commits</span></span>
                            </form>
                            </div>
                        {% endfor %}

                        <div class="repository-sample">
                        <form class="form-inline" class="row">

                            <select class="repository-type span1">
                                <option value="git">git</option>
                                <option value="hg">hg</option>
                            </select>
                            <input type="text" class="repository-url span2 input-small" placeholder="Repository URL" />
                            <input type="text" class=" repository-login span2 input-small" placeholder="Commit username" />
                        </form>
                        </div>
                    </div>

                    <div class="span3">
                        <div class="graph" id="projectgraph{{ project.pk }}">
                        </div>
                    </div>

                </div>
            </div>

            {% empty %}

            <div class="no-project-message">
                <h2>No projects</h2>

                {% if isowner %}
                    <p class="alert alert-info">Improve your portfolio by adding projects you have worked on.</p>
                {% endif %}
            </div>

            {% endfor %}
            </div>

            <div class="project-sample">
            <input type="hidden" class="project-id" value="" />

                <div class="row">
                    <div class="span8">
                        <h2 style="display: inline;" class="editable project-name">Project name</h2> <h2 style="display: inline;"><small class="editable project-tagline">and short tagline</small></h2>
                    </div>
                </div>

                <div class="row">
                    <div class="span5 editable project-description">
                        <p>Insert long description here</p>
                    </div>

                    <div class="span3">

                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}

