.right {
    float: right;
}

.text-right {
    text-align: right;
}

footer {
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid #E5E5E5;
}

.logo {
    color: #000000;
    text-decoration: none;
}
