h2, h3, h4 {
    margin-bottom: 0.6em;
}

.right {
    float: right;
}

.text-right {
    text-align: right;
}

footer {
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid #E5E5E5;
}

.logo, .logo:hover {
    color: #000000;
    text-decoration: none;
}

.portfolio-profile h1 {
    font-size: 60px;
    line-height: 1;
}

.portfolio-profile p {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
}

/** portfolio toolbar **/

.editable-enabled {
    border: solid 1px #EEEEEE;
}