h2, h3, h4 {
    margin-bottom: 0.6em;
}

.right {
    float: right;
}

.text-right {
    text-align: right;
}

footer {
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid #E5E5E5;
}

.logo, .logo:hover {
    color: #000000;
    text-decoration: none;
}

.portfolio-profile h1 {
    font-size: 60px;
    line-height: 1;
}

.portfolio-profile p {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
}

/** portfolio toolbar **/

.create-ui-toolbar-statustoolarea {
    float: right;
}

.create-ui-dynamictools li {
    display: block;
    float: left;
}

.create-ui-statustools li {
    display: block;
    float: left;
}

.create-ui-btn-small {
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 4px;
    text-align: center;
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
    vertical-align: middle;
    margin-left: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

input[type="checkbox"].create-ui-btn-small {
    display: none !important;
}